:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10rem;
    background-color: #112240;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

.p-tag {
    color: #8892b0;
}

.time-container {
    text-align: center;
    color: #ccd6f6;
}

.jsClock {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
